<table class="schedule">
  <thead>
    <tr>
      <th>Dag\Uur</th>
      <th scope="col">maandag</th>
      <th scope="col">dinsdag</th>
      <th scope="col">woensdag</th>
      <th scope="col">donderdag</th>
      <th scope="col">vrijdag</th>
    </tr>
  </thead>

  <tbody>

    {{#each row in rows itemController="row"}}
      <tr>
        <th scope="row">
          u{{row.rowIndex}}
        </th>
        {{#each cell in row.cells itemController="cell"}}
          {{partial "cell"}}
        {{/each}}
      </tr>
    {{/each}}

  </tbody>
</table>

{{#if schedule.updatedAt}}
  <small class="text-muted">
    Bijgewerkt &ndash; {{ago schedule.updatedAt}}
  </small>
{{/if}}
