{{#if isDetailed}}
  {{#link-to "lesson" lesson}}
    <div>
      {{#if lesson.between}}
        tussen
      {{else}}
        {{lesson.subject}}<br />

        {{lesson.teacher.id}}<br />

        {{lesson.room.id}}
      {{/if}}
    </div>
  {{/link-to}}
{{/if}}
