{{#if isNested}}

  <table>
    <tbody>
      {{#each cell in nested}}
        <tr>

          {{render "cell" cell.content}}

        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
    {{render "siblings" nested.firstObject.content}}
{{/if}}
