{{#if isNested}}

  <table>
    <tbody>
      {{#each nested}}
        <tr>
          <td>

            {{cell-display lessons=content}}

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
    {{sibling-lesson siblings=siblings.content}}
{{/if}}
