.schedule {
  border: 1px solid black;

  tr {
    td, th {
      font-size: 12px;
      font-family: arial;
      border: 1px solid black;
      vertical-align: top;
      padding: 2px;

      @media (min-width: $screen-sm-min) {
        padding: 3px;
      }
    }

    td a:not(:hover) {
      color: inherit;
    }

    th {
      font-weight: normal;
      background-color: rgb(220, 220, 220);
    }
  }

  thead th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: $screen-sm-min) {
    /* http://www.bootply.com/9njmoY2CmS */
    table-layout: fixed;
    width: 100%;
    overflow-wrap: break-word;

    tbody tr th, thead tr th:first-child {
      width: 20px;
    }
  }
}
