.schedule {
  @media screen and (max-width: $screen-sm-min) {
    width: 100%;
    overflow-wrap: break-word;
  }

  // all cells
  td, th {
    font-size: 12px;
    border: 1px solid $gray-light;
    vertical-align: top;
  }

  // only cells that are direct ascendants; exclude nested cells
  > tbody > tr > td, > tbody > tr > th {
    // word-breaks big columns, to make sure
    // columns widths better evened out.
    @media (max-width: $screen-sm-min) {
      max-width: 50px;
    }
  }

  // all headers
  th {
    font-weight: 300;
    background-color: gainsboro;
    color: $gray;

    // optimize space
    font-size: 11px;
    padding: 2px;

    // optimize space; mobile only
    @media (max-width: $screen-sm-min) {
      max-width: 13px;
    }

    // give big devices slightly more space
    @media (min-width: $screen-sm-min) {
      padding: 3px;
    }
  }

  // only top headers
  thead th {
    // http://www.bootply.com/9njmoY2CmS
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // allow basically no width, causing the header to ellipsize in mobile
    @media (max-width: $screen-sm-min) {
      max-width: 7px;
    }
  }

  tbody {
    $hoverColor: #D6F5FF;
    $activeColor: #d0e4ea;

    td.cell {
      &:hover {
        background-color: $hoverColor;
        cursor: pointer;
      }

      > a.active > div {
        background-color: $activeColor;
      }

      > a {
        color: inherit;

        &:hover, &:focus {
          text-decoration: none;
        }

        > div {
          padding: 2px;

          &:hover, &:focus, &:active {
            background-color: $hoverColor;
          }
        }
      }
    }

    td > table {
      margin: 2px;
    }

    // only left headers
    th {
      @media (max-width: $screen-sm-min) {
        padding-right: 0;
      }

      text-align: left;
    }

    @media (min-width: $screen-sm-min) {
      th {
        text-align: left;
      }

      // give big devices slightly more space
      td.cell > a > div {
        padding: 3px;
      }
    }
  }
}
