@import "bootstrap-imports";

@import "typeahead";
@import "schedule";
@import "search-input";
@import "modal";

html, body {
  margin: 20px;

  @media (max-width: $screen-sm-min) {
    [class*='col-'] {
      padding-left: 5px;
      padding-right: 5px;
    }

    margin: 5px 0 0;
  }
}

.spinner {
  display: table;
  margin: 0 auto;
  padding: 150px 0;
}

.error-state {
  padding-left: 10px;
  padding-right: 10px;

  img {
    width: 100%;
    opacity: 0.5;
    max-width: 400px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
