@import "bootstrap";
@import "typeahead";

@import "schedule";
@import "input";

html, body {
  margin: 20px;

  @media (max-width: $screen-sm-min) {
    .container {
      padding-left: 5px;
      padding-right: 5px;
    }

    margin: 5px 0 0;
  }
}

.spinner {
  display: table;
  margin: 0 auto;
  padding: 150px 0;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
