<div class="container">

  <div class="row hidden-print">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-sm-offset-3">
      <form>
        <div id="bloudhound">
          {{typeahead-field type="search" placeholder="Zoek..." required="true"}}
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    {{outlet}}
  </div>

</div>
