<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-sm-offset-3">
    <div class="text-muted text-center error-state">
      <img src="confused-smiley.svg" alt="Confused smiley">
      <h2 class="media-heading">Oops, niets gevonden...</h2>
    </div>
  </div>
</div>
