<div class="col-xs-4 col-sm-3 col-md-2">
  <h3>{{id}}</h3>

  {{audiences-list audiences=data.groups link="group"}}

  {{#if data.clusters}}
    {{audiences-list audiences=data.clusters link="cluster"}}
  {{/if}}
</div>

{{outlet}}
