<div class="col-sm-4">
  <h3>{{id}}</h3>

  {{#if data.clusters}}
    <h4>Klassen</h4>
  {{/if}}

  {{audiences-list audiences=data.groups link="group"}}

  {{#if data.clusters}}
    <h4>Clusters</h4>

    {{audiences-list audiences=data.clusters link="cluster"}}
  {{/if}}
</div>

{{outlet}}
