<div class="col-sm-4">
  <h3>{{id}}</h3>

  {{#if clusters}}
    <h4>Klassen</h4>
  {{/if}}

  {{render "group" groups}}

  {{#if clusters}}
    <h4>Clusters</h4>

    {{render "group" clusters}}
  {{/if}}
</div>

{{outlet}}
