<div class="row grades">
    <div class="col-xs-2 col-sm-offset-1 col-lg-1 col-lg-offset-2">
      {{! Use space to retain layout }}
      <h3>&nbsp;</h3>

      <div class="list-group">
        {{#each grade in arrangedContent}}
            {{#link-to 'grade' grade class="list-group-item"}}
              {{grade.id}}
            {{/link-to}}
        {{/each}}
      </div>
    </div>

    {{outlet}}
</div>
