<div class="row">
    <div class="col-sm-4">
      <h3>Jaarlagen</h3>

      <div class="list-group">
        {{#each grade in arrangedContent}}
            {{#link-to 'grade' grade class="list-group-item"}}
              {{grade.id}}
            {{/link-to}}
        {{/each}}
      </div>
    </div>

    {{outlet}}
</div>
