
{{render "search" model.items}}


<div class="row">
    <div class="col-sm-4">
      <h3>Grades</h3>

      <div class="list-group">
        {{#each grade in gradesSorted}}
            {{#link-to 'grade' grade class="list-group-item"}}
              {{grade.id}}
            {{/link-to}}
        {{/each}}
      </div>
    </div>

    {{outlet}}
</div>
