<table class="schedule">
  <thead>
    <tr>
      <th>Uur\Dag</th>
      <th>maandag</th>
      <th>dinsdag</th>
      <th>woensdag</th>
      <th>donderdag</th>
      <th>vrijdag</th>
    </tr>
  </thead>

  <tbody>

    {{#each row in rows}}
      <tr>
        <th>
          u{{row.index}}
        </th>
        {{#each cell in row.cells}}
          {{render "cell" cell.content}}
        {{/each}}
      </tr>
    {{else}}
        {{#each row in mockup}}
          <tr>
            <th>
              u{{row}}<br /><br />
            </th>
          </tr>
        {{/each}}
    {{/each}}

  </tbody>
</table>
