<div class="row hidden-print">
  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-sm-offset-3">
    <form>
      <div id="bloodhound">
        {{typeahead-field content=content type="search" placeholder="Zoek..." required="true" search="search"}}
      </div>
    </form>
  </div>
</div>
